<div class="metrics-container">
    <div class="metrics">
        <h1><strong>Quarterly Metrics:</strong></h1>
        <br>
        <p><strong>Close Rate by deal:</strong> <%= quarterlyCloseRateByDeal %>%, <% if (quarterlyCloseRateByDealDiff <= 0) { %>
        <span style="color: red"><strong>
        <% } else { %>
        <span style="color: green"><strong>+
        <% } %> <%= quarterlyCloseRateByDealDiff %>%</span></strong></p>

        <p><strong>Close Rate by ACV:</strong> <%= quarterlyCloseRateByACV %>%, <% if (quarterlyCloseRateByACVDiff <= 0) { %>
        <span style="color: red"><strong>
        <% } else { %>
        <span style="color: green"><strong>+
        <% } %> <%= quarterlyCloseRateByACVDiff %>%</span></strong></p>

        <p><strong>% of deals that were Expansion:</strong> <%= quarterlyCustomerNewSplitByDeal %>%, <% if (quarterlyCustomerNewSplitByDealDiff <= 0) { %>
        <span style="color: red"><strong>
        <% } else { %>
        <span style="color: green"><strong>+    
        <% } %> <%= quarterlyCustomerNewSplitByDealDiff %>%</span></strong></p>

        <p><strong>Average sales cycle length:</strong> <%= quarterlyAverageSalesCycleLength %> days, <% if (quarterlyAverageSalesCycleLengthDiff >= 0) { %>
        <span style="color: red"><strong>+
        <% } else { %>
        <span style="color: green"><strong>    
        <% } %> <%= quarterlyAverageSalesCycleLengthDiff %> days</span></strong></p>
    </div>
</div>