<%- include('partials/_head.ejs') %>
<body>
    <div class="deal-input">
        <h1><%= closedDeal.companyName %>, <%= closedDeal.termLength %> Year Deal at $<%= closedDeal.ACV.toLocaleString() %>: </h1>
                <%- include('partials/editDeal.ejs') %>
    </div>
</body>
</html>