<%- include ('partials/_head') -%>
<body>
    <h1>Submit a Closed-Won deal here:</h1>
    <form method="post" action="/">
        <%- include ('partials/_form_fields') -%>
        <button type="submit">Submit</button>
    </form>
    <h1>Submit a Closed-Lost deal here:</h1>
    <form method="post" action="/lost">
        <%- include ('partials/_form_fields_lost') -%>
        <button type="submit">Submit</button>
    </form>
    <h1>Your <%= closedDeals.length %> Won Deal(s) This Quarter:</h1>
           <% closedDeals.forEach(ClosedDeal => { %>
        <div class="closed-deals" id="closed-deals">
            <div class="closed-deal-name"><p><a href="/<%= ClosedDeal.id %>"><%= ClosedDeal.companyName %>, <%= ClosedDeal.termLength %> Year Deal at <%= ClosedDeal.ACV %> ACV.</a></p> 
            </div>
        </div> 
    <% }) %>
    <h1>Your <%= lostDeals.length %> Lost Deal(s) This Quarter:</h1>
           <% lostDeals.forEach(LostDeal => { %>
        <div class="lost-deals" id="lost-deals">
            <div class="lost-deal-name"><p><a href="/lost/<%= LostDeal.id %>"><%= LostDeal.companyName %>, at <%= LostDeal.ACV %> ACV.</a></p>
        </div> 
    <% }) %>
        <div>
            <h1>Baseline Metrics:</h1>
            <h3>Close Rate by Deal: <%= closeRateByDeal %>
            </h3>
            <h3>Close Rate by ACV: <%= closeRateByACV %>

            </h3>
            <h3>Customer/New Split By Deal: <%= customerNewSplitByDeal %>

            </h3>
            <h3>Average Sales Cycle Length: <%= averageSalesCycleLength %>

            </h3>
        </div>        
</body>
</html>