<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forecast Helper</title>
</head>
<body>
    <h1>This is going to be a forecast helper app.</h1>
    <br>
    <h1>Submit a deal here:</h1>
    <br>
    <br>
    <form method="post" action="/">
        <label>Company Name:</label>
            <input type="text" name="companyName" id="company-name" placeholder="e.g. Optimizely, Inc." required>
        <br>
        <label>Closed On:</label>
            <input type="date" name="closedOn" id="closed-on" placeholder="e.g. 2/15/2020" required>
        <br>
        <label>Term Length in Years:</label>
            <select class= "current-term-length" name= "termLength" id="current-term-length">
                <option value="1" name="termLength" selected>One Year</option>
                <option value="2" name="termLength">Two Year</option>
                <option value="3" name="termLength">Three Year</option>
            </select>
        <br>
        <label>ACV:</label>
            <input type="number" name="ACV" id="acv" placeholder="e.g. $100,000" required>
        <br>
        <label>Revenue in Years 2+:</label>
            <input type="number" name="multiYearRevenue" id="current-multi-year-revenue" placeholder="e.g. $100,000" required>
        <br>
        <label>Services Hours:</label>
            <input type="number" name="servicesHours" id="current-services-hours" placeholder="e.g. 80" required>
        <br>
        <label>Date That The Customer First Engaged with Optimizely:</label>
            <input type="date" name="dateFirstEngaged" id="date-first-engaged" required>
        <br>
        <label>Executive Involved:</label>
            <select class= "executive-involved" name= "executiveInvolved" id="executive-involved">
                    <option value="Yes" name="executiveInvolved" selected>Yes</option>
                    <option value="No" name="executiveInvolved">No</option>
            </select>
        <br>
        <label>Main Competitor:</label>
            <input type="text" name="mainCompetitor" id="main-competitor" placeholder="VWO" required>
        <br>
        <button type="submit">Submit</button>
    </form>
    <br>
    <br>
    <h1>Your <%= closedDeals.length%> Deal(s) This Quarter:</h1>
        <!-- Loading Mongoose Entries -->     
               <% closedDeals.forEach(ClosedDeal => { %>
            <div class="closed-deals" id="closed-deals">
                <div class="closed-deal-name"><p>Company Name = <a href="/<%= ClosedDeal.id %>"><%= ClosedDeal.companyName %></a></p>
                <div class="closed-deal-date"> <p> Closed On = <%= ClosedDeal.closedOn.toLocaleDateString().split('T')[0] %> </p></div>
                <div class="closed-deal-body"> <p>Term Length = <%= ClosedDeal.termLength %></p> 
                <p>ACV = <%= ClosedDeal.currentACV %></p>
                <p>Multi Year Revenue = <%= ClosedDeal.multiYearRevenue %></p>
                <p>Services Hours = <%= ClosedDeal.servicesHours %></p>
                <!-- This is where the edit field will go. -->
                <form method="POST" action="/<%= ClosedDeal.id %>?_method=DELETE">
                        <button class="btn btn-danger" type="submit">Delete</button>
                </form>
                </div>
                <br>
                <br>
                    </div> 
        <% }) %>
        
        <div>
            <h1>Total Attainment:</h1>
        </div>
        
</body>
</html>