<%- include('partials/_head.ejs') %>
<body>
    <div class="deal-input">
        <h1><%= lostDeal.companyName %>, <%= lostDeal.termLength %> Year Deal at <%= lostDeal.ACV %>: </h1>
            <%- include('partials/editLostDeal.ejs') %>
    </div>
</body>
</html>