<%- include('partials/_head.ejs') %>
<body>

    <div class="hero">
        <div class="hero-subtitle">
            <h2>QBR Generator</h2>
            <button class="hero-button" id="hero-button"><a href="#closed-won-deal-input">Get Started</a></button>
        </div>
    </div>

    <div class="nav-container">
        <div>
            <h2>Choose your time period:</h2>
                <ul>
                    <li><a href="/qbr/quarter/1">Q1</a></li>
                    <li><a href="/qbr/quarter/2">Q2</a></li>
                    <li><a href="/qbr/quarter/3">Q3</a></li>
                    <li><a href="/qbr/quarter/4">Q4</a></li>
                </ul>
        </div>
    </div>

    <div class="deal-input">
        <div class="deal-input-container">
            <form method="post" action="/qbr" class="_form_fields" id="closed-won-deal-input">
                <h1>Submit a Closed-Won deal here:</h1>
                <%- include('partials/_form_fields.ejs') %>
                <button type="submit" class="submit">Submit</button>
            </form>
        </div>

        <div class="deal-input-container">
            <form method="post" action="/qbr/lost" class="_form_fields">
                <h1>Submit a Closed-Lost deal here:</h1>
                <%- include('partials/_form_fields_lost.ejs') %>
                <button type="submit" class="submit">Submit</button>
            </form>
        </div>
    </div>


    <div class="deal-information-wrapper">
    <div class="deal-information-container">
        <div class="won-deals deal-content-container">
            <h1> <%= wonDealMessage %> </h1>
                <% closedDeals.forEach(ClosedDeal => { %>
                <div class="closed-deals" id="closed-deals">
                    <div class="closed-deal-name"><p><a href="/<%= ClosedDeal.id %>"><%= ClosedDeal.companyName %>, <%= ClosedDeal.termLength %> Year Deal at $<%= ClosedDeal.ACV %> ACV.</a></p> 
                    </div>
                </div> 
            <% }) %>
        </div>

        <div class="lost-deals deal-content-container">
            <h1> <%= lostDealMessage %> </h1>
                <% lostDeals.forEach(LostDeal => { %>
                <div class="closed-lost-deals" id="closed-lost-deals">
                    <div class="lost-deal-name"><p><a href="/lost/<%= LostDeal.id %>"><%= LostDeal.companyName %>, at $<%= LostDeal.ACV %> ACV.</a></p>
                    </div> 
                </div>
            <% }) %>
        </div>
    </div>
    </div>

    <!-- Add in "This [Time-Period]'s Metrics here, side-by-side -->
    <div class="metrics-container">
        <div class="metrics">
            <h1><strong>All-Time Metrics:</strong></h1>
            <br>
            <p><strong>Close Rate by deal:</strong> <%= closeRateByDeal %></p>
            <p><strong>Close Rate by ACV:</strong> <%= closeRateByACV %></p>
            <p><strong>Customer/New split by deal:</strong> <%= customerNewSplitByDeal %></p>
            <p><strong>Average sales cycle length:</strong> <%= averageSalesCycleLength %> days.</p>
        </div>
    </div>

    <!-- ====================== -->
    <!-- Charts (ignore errors, linter not working) -->
    <!-- ====================== -->

    <div class="chart-container">
        <%- include('charts/ACVPerDeal.ejs') %>
        <%- include('charts/newVsExistingACV.ejs') %>
    </div>

</body>
</html>